#jinja2:trim_blocks: True, lstrip_blocks: False
{% for int,ipadd  in interfaces.items() -%}
interface {{int}}
 ip address {{ipadd}}
 {% if isis is defined -%} 
 ipv6 router isis {{isis.area}}
 {% endif -%}
!
{% endfor -%}

{% if isis is defined -%} 
router isis {{isis.area}}
 net 49.0001.1720.1700.0001.00 <<<<<
 net 49.{{}}
 is-type level-2-only
 metric-style wide transition
 log-adjacency-changes
{% endif -%}