#jinja2:trim_blocks: True, lstrip_blocks: False
{% for int in interfaces -%}
interface {{int.name}}
 ip address {{ int.ip | ipaddr('address') }} {{ int.ip | ipaddr('netmask') }}
 {% if isis is defined -%} 
 ipv6 router isis {{isis.area}}
 {% endif -%}
!
{% endfor -%}


{% if isis is defined -%} 
router isis {{isis.area}}
 {% set str1 = interfaces[0].ip | ipaddr('address') %}
 {% set str2 = str1.split('.') %}
 {% set octect3 = str2[3].zfill(3) %}
 net 49.0001.1720.1700.0{{octect3}}.00
 is-type level-2-only
 metric-style wide transition
 log-adjacency-changes
{% endif -%}